*{
    box-sizing: border-box;
    margin: 0;
    font-family: helvetica;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:lightseagreen;
}

#drum-machine{
    border:2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    width: 800px;
    background-color:whitesmoke;
}

.key{
    border:1px solid gray;
    border-radius: 5%;
    height:95%;
    width:14%;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.07s;
    background-color: lightsalmon;
}

kbd {
    font-size:0.9em;
}

.playing{
    border-color:blue;
    box-shadow: 0 0 10px blue;
    transform: scale(1.1);
}